	
a:hover { text-decoration: underline; }



}
/*	--------------------------------------------------
	Global Reset & Standards
	-------------------------------------------------- */
	html, body { margin: 0; padding: 0; }
	 p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section {border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }

	