
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}
<br>
     <img src="{{STATIC_URL}}img/logo.gif" style="position:absolute; left:50px; top:-20px; height:240px; width:240px;">
   
   
   
   <div class="navbar" style="box-shadow: 0px 3px 2px -2px rgb(35, 35, 35); margin-top:40px; margin-bottom: 50px;">
     <div class="navbar-inner">
    <ul class="nav">
    <li class="active" style="padding-left:135px;text-transform: uppercase; letter-spacing: 1px; color:white; padding-top:12px; font-family: 'League'; font-size: 22px;"><a href="#">Home</a></li>
    <li style="text-transform: uppercase; letter-spacing: 1px; color:white;padding-top:12px; font-family: 'League'; font-size: 22px;"><a href="#">Men's Football</a></li>
    <li style="text-transform: uppercase; letter-spacing: 1px; color:white;padding-top:12px; font-family: 'League'; font-size: 22px;"><a href="{% url 'team_team' 2  %}">Men's Basketball</a></li>
    <li style="text-transform: uppercase; letter-spacing: 1px; color:white;padding-top:12px; font-family: 'League'; font-size: 22px;"><a href="#">Men's Baseball</a></li>
   
    </ul>
    <form class="navbar-search pull-right" style="padding-top:12px">
    <input type="text" class="search-query" placeholder="Search"> 
    </form>
    </div> 
    </div>
   
  
   
     
    <div class="slideshow" id="flavor_1" style="display: inline-block; margin-left:12px; margin-bottom:40px; margin-top:15px;">
      </div>
    
    <div class="mainHeadlines" style="float:right; margin-right:12px; display: inline-block;margin-top:15px;">
    
    <table  style=" background-color:rgb(144, 182, 221); float: right; font-size:11px; font-weight: bold;" cellpadding="7" cellspacing="2" width="300">
<tr>
<td class="dark" style="border-radius:0px 5px 0px 0px;"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206507371" class="headlines">Men's Basketball Tar Heels In the NBA Update</a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206497662" class="headlines">W Basketball: Ruffin-Pratt, Rolle Lift UNC Past State</a></td>
</tr>
<tr>
<td class="dark"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206487847" class="headlines">UNC Beats NC State, 76-65</a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206502962" class="headlines">Baseball: UNC to Face St. John's Wednesday</a></td>
</tr>
<tr>
<td class="dark"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206509176" class="headlines">DeShields Named State Farm/WBCA HS POY </a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206530160" class="headlines">UNC Celebrates Season, Announces Awards </a></td>
</tr>
<tr>
<td class="dark"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206498316" class="headlines">Softball: UNC Ends Carolina Classic With Two Wins </a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206496849" class="headlines">Baseball: Tar Heels Walk Off To Sweep Stony Brook</a></td>
</tr>
<tr>
<td class="dark"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206492902" class="headlines">Swim/Dive: UNC Surges To Third Place On Final Day</a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206494762" class="headlines">W. Lacrosse Tar Heel Lax Lessons 2013</a></td>
</tr>
<tr>
<td class="dark" style="border-radius:0px 0px 5px 0px;"><a href="www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206541061"  class="headlines" >Women Goldfers 3rd in Golfstat Poll</a></td>
</tr>
<tr>
<td><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206538478" class="headlines">Field Hockey Alumni Information</a></td>
</tr>
<tr>
<td class="dark" style="border-radius:0px 0px 5px 0px;"><a href="http://www.goheels.com/ViewArticle.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206537760"  class="headlines" >U.S. U-20 MNT Earn World Cup Bid </a></td>
</tr>
<tr>
<td style="border-radius:0px 0px 5px 0px;"><a href="http://www.goheels.com/"  class="headlines" style="float:right;">MORE HEADLINES</a></td>
</tr>


</table>
       </div>
       
       
       
       <div class="well" style="margin-top:5px;margin-bottom:30px;box-shadow:0px 0px 3px rgb(102, 102, 102); background-image: -moz-linear-gradient(center top , white, rgb(239, 239, 239)); height:260px;">
        <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:28px;"> VIDEOS</p> 
        <div style="display:inline-block;">
        <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><img src="{{STATIC_URL}}img/bballvid.gif" style="height:150px; width:210px; margin-right:7px; box-shadow: 2px 4px 6px -2px rgb(35, 35, 35);"></a>
            <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><h6 style="line-height: 16px;"> Men's Basketball:<br/>P.J. Hairston Feature</h6></a>
        </div>
        
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><img src="{{STATIC_URL}}img/fbvid.gif" style="height:150px; width:210px;margin-right:7px; box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
          <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350">  <h6 style="line-height: 16px;"> Men's Football: <br/>2013 Schedule Preview</h6></a>
         </div>
         
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><img src="{{STATIC_URL}}img/wlaxvid.gif" style="height:150px; width:210px;margin-right:7px;box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
            <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><h6 style="line-height: 16px;"> Women's Lacrosse: <br/>Highlights vs. Northwestern</h6></a>
         </div>
          
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><img src="{{STATIC_URL}}img/baseballvid.gif" style="height:150px; width:210px;margin-right:7px;box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
           <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><h6 style="line-height: 16px;"> Men's Baseball: <br/>Stony Brook vs. UNC</h6></a>
         </div>
        
        <a href="http://www.goheels.com/mediaPortal/player.dbml?&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350"><p style="color: rgb(198, 198, 198);font-family: 'League'; font-size:24px;float: right;">MORE VIDEOS</p></a>
       
       </div>
       
       
       
       <div class="events" style="margin-bottom:20px;">
        <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:26px; padding-left:10px;"> UPCOMING EVENTS</p> 
       <ul style="list-style: none; border-right:1px solid rgb(204, 204, 204);">
        <li style="font-size:11px; margin-left:-26px; padding-left:10px; padding-bottom:7px; margin-top:-10px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/8/2013 Track and Field: NCAA Indoor Championships </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/8/2013 Women's Golf Darisu Rucker Invitational</li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/8/2013 Baseball vs. Wake Forest </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Wrestling: ACC Championships </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif">3/9/2013 Men's Lacrosse vs. Princeton </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Softball vs. Boston College </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Men's Tennis vs. Texas Christian </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Women's Lacrosse vs. Virginia</li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Baseball vs. Wake Forest </li>
        <li style="font-size:11px;margin-left:-26px;padding-left:10px; margin-bottom:7px;"><img src="{{STATIC_URL}}img/tarheel.gif"> 3/9/2013 Men's Basketball vs. Duke </li>
        <li style="float: right;"><a href="http://www.goheels.com/main/CalendarSchedule.dbml?DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PAGEMO=1" style="color:rgb(198, 198, 198); font-family: 'League'; font-size:20px;">MORE EVENTS</a></li> 
       </ul>
              

       </div>
       
       <div class="Twitter"> 
        <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:26px; padding-left:10px;"> HEELS ON TWITTER</p> 
       <img src="{{STATIC_URL}}img/twitter.gif" style="height:290px; padding-right:5px; padding-top:15px; margin-top:-10px;border-right: 1px solid rgb(204, 204, 204);">
        <img src="{{STATIC_URL}}img/ad.gif" style="height:290px; width:300px;">
       </div>

       
       
       
       
       <div class="well" style="margin-top:35px;margin-bottom:30px;box-shadow:0px 0px 3px rgb(102, 102, 102); background-image: -moz-linear-gradient(center top , white, rgb(239, 239, 239));height:260px;">
        <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:28px;"> PHOTO GALLERIES</p> 
        <div style="display:inline-block;">
        <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=666949"><img src="{{STATIC_URL}}img/baseballpic.gif" style="height:150px; width:210px; margin-right:6px; box-shadow: 2px 4px 6px -2px rgb(35, 35, 35);"></a>
           <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=666949"> <h6 style="line-height: 16px;"> Men's Baseball: <br/>UNC 9 - Stony Brook 8</h6></a>
        </div>
        
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=667548"><img src="{{STATIC_URL}}img/fieldhockey.gif" style="height:150px; width:210px;margin-right:6px; box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
          <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=667548">  <h6 style="line-height: 16px;"> Women's Field Hockey: <br/>Honored at Basketball game</h6></a>
         </div>
         
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=665548"><img src="{{STATIC_URL}}img/wbball.gif" style="height:150px; width:210px;margin-right:6px;box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
            <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=665548"> <h6 style="line-height: 16px;"> Women's Basketball: <br/>UNC v N.C. State</h6></a>
         </div>
          
         <div style="display:inline-block;">
        <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=666848"><img src="{{STATIC_URL}}img/softball.gif" style="height:150px; width:210px;margin-right:6px;box-shadow: 0px 4px 6px -2px rgb(35, 35, 35);"></a>
           <a href="http://www.goheels.com/PhotoAlbum.dbml?SITE=UNC&DB_OEM_ID=3350&PALBID=666848"> <h6 style="line-height: 16px;"> Women's Softball: <br/>UNC v Penn State</h6></a>
         </div>
        
        <a href="http://www.goheels.com/PhotoAlbum_Archives.dbml?SITE=UNC&DB_OEM_ID=3350"><p style="color:rgb(198, 198, 198);float: right; font-family: 'League'; font-size: 24px;">MORE PHOTOS</p></a>
      
       </div>
       
       
       <div id="footer" class="class_box_shadow">             	
              <img src="{{STATIC_URL}}img/school.gif" style="display:inline-block; margin-left:15px; width:190px; height:70px;">
             
             <ul style="display:inline-block; list-style:none;">
                <li style="font-family: 'League';font-size:18px; color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px; padding-right:40px;">TEAMS</li>
                <a href="#"><li style="font-size:12px;"> Basketball</li></a>
                <a href="#"><li style="font-size:12px;">Football</li></a>
                <a href="#"><li style="font-size:12px;">Baseball</li></a>
                <a href="#"><li style="font-size:12px;"> Cross Country</li></a>
                <a href="#"><li style="font-size:12px;"> Tennis</li></a>
                <a href="#"><li style="font-size:12px;"> Softball</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none;border-top: 1px solid rgb(198, 198, 198); margin-left:0; padding-right:40px; padding-top:2px; "> 
                <a href="#"><li style="font-size:12px; "> Golf</li></a>
                <a href="#"><li style="font-size:12px;">Lacrosse</li></a>
                <a href="#"><li style="font-size:12px;">Track & Field</li></a>
                <a href="#"><li style="font-size:12px;"> Rowing</li></a>
                <a href="#"><li style="font-size:12px;"> Soccer</li></a>
                <a href="#"><li style="font-size:12px;"> Field Hockey</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; border-top: 1px solid rgb(198, 198, 198); margin-left:0; padding-top:2px;  "> 
                <a href="#"><li style="font-size:12px;"> Volleyball</li></a>
                <a href="#"><li style="font-size:12px;">Swim & Dive</li></a>
                <a href="#"><li style="font-size:12px;">Fencing</li></a>
                <a href="#"><li style="font-size:12px;"> Gynmastics</li></a>
                <a href="#"><li style="font-size:12px;"> Cheerleading</li></a> 
                <a href="#"><li style="font-size:12px;"> Other</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; margin-left:30px;">
                <li style="font-family: 'League';font-size:18px; color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px;">INFO</li>
                <a href="#"><li style="font-size:12px;"> Camps</li></a>
                <a href="#"><li style="font-size:12px;">Tickets</li></a>
                <a href="#"><li style="font-size:12px;">Seating Charts</li></a>
                <a href="#"><li style="font-size:12px;"> UNC Online Store</li></a>
                <a href="#"><li style="font-size:12px;"> UNC Photo Store</li></a>
                <a href="#"><li style="font-size:12px;"> Mobile</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; padding-right:22px;">
                <li style="font-family: 'League';font-size:18px; color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px;">MEDIA</li>
                <a href="#"><li style="font-size:12px;"> GoHeelsTV</li></a>
                <a href="#"><li style="font-size:12px;">Photo Galleries</li></a>
                <a href="#"><li style="font-size:12px;">News Feeds (RSS)</li></a>
                <a href="#"><li style="font-size:12px;"> Facebook</li></a>
                <a href="#"><li style="font-size:12px;"> Flickr</li></a>
                <a href="#"><li style="font-size:12px;">Twitter</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; margin-left:-5px;">
                <li><a href="#"><img src="{{STATIC_URL}}img/Nike.gif" alt="share" style="height:20px; width 50px; padding-bottom:15px; padding-left:25px; " /></a></li>
                <li><a href="#"><img src="{{STATIC_URL}}img/Share.png" alt="share" style="height:30px; width 50px;" /></a></li>
             </ul> 
             
          <!-- end #FooterLogout --></div>
                
       
	

</div>
{% endblock %}
