{% extends "base.html" %}

{% block content %}
    
    <div class="well">
<h2> {{player.name }}</h2>
<p> Details</p>
<ul>
    <li> Number: {{ player.number }}</li>
    <li> Height: {{ player.height }}</li>
    <li> Weight: {{ player.weight }}</li>
    <li> Year:  {{ player.year }}</li>
    <li>Hometown: {{ player.hometown }}</li>
    <li> High School: {{ player.high }}</li>
    <li>Major: {{ player.major }}</li>        
</ul>        
    </div>
 <div class="teamHeadlines">
   <p> {{ player.bio }}</p>
    </div>


{% endblock %}

