{% extends "base.html" %}
{% load url from future %}
{% block content %}
    
 <img src="{{STATIC_URL}}img/logo.gif" style="position:absolute; left:50px; top:-20px; height:240px; width:240px;">
   
   
   
   <div class="navbar" style="box-shadow: 0px 3px 2px -2px rgb(35, 35, 35); margin-top:55px;">
     <div class="navbar-inner">
    <ul class="nav">
    <li class="active" style="padding-left:135px;text-transform: uppercase; color:white;letter-spacing: 1px;  padding-top:12px; font-family: 'League'; font-size: 22px;"><a href="{% url 'team_home'  %}">Home</a></li>
    <li style="text-transform: uppercase; color:white;padding-top:12px; letter-spacing: 1px; font-family: 'League'; font-size: 22px;"><a href="#">Men's Football</a></li>
    <li style="text-transform: uppercase; color:white;padding-top:12px;letter-spacing: 1px;  font-family: 'League'; font-size: 22px;"><a href="#">Men's Basketball</a></li>
    <li style="text-transform: uppercase; color:white;padding-top:12px;letter-spacing: 1px;  font-family: 'League'; font-size: 22px;"><a href="#">Men's Baseball</a></li>
   
    </ul>
    <form class="navbar-search pull-right" style="padding-top:12px">
    <input type="text" class="search-query" placeholder="Search"> 
    </form>
    </div> 
    </div>
   
   

<img src="{{STATIC_URL}}img/basketballgraphic.gif" style="height: 270px; width:960px; margin-top:40px; margin-bottom:20px;border-radius:4px 4px 4px 4px; box-shadow:0px 0px 3px rgb(102, 102, 102); background-image: -moz-linear-gradient(center top , white, rgb(239, 239, 239));">


<div class="roster">
 
 <p style="color:rgb(224, 224, 224);font-size:54px; padding-top:20px; margin-left:20px;font-family: 'League';"> PLAYER ROSTER</p>

   
<table id="background-image" style="background-image:url('{{STATIC_URL}}img/table.gif'); background-repeat:no-repeat; background-position: bottom center; opacity:.8;"> 
    <thead>
    	<tr>
	    <th scope="col">#</th>
            <th scope="col">FIRST</th>
	     <th scope="col">LAST</th>
            <th scope="col">POS.</th>
	    <th scope="col">HT</th>
            <th scope="col">WT.</th>
	    <th scope="col">YEAR</th>
	    
        </tr>
    </thead>
      <tbody>
	
    	{{ htmlVar|safe }}
	
    </tbody>
    <tfoot>
    	<tr>
            <th> </th>
	    <th> </th>
	    <th> </th>
	    <th> </th>
	    <th> </th>
	    <th> </th>
	    <th>Coach:  {{ team.coach }}</th>
        </tr>
    </tfoot>
  
</table>
</div>


<div class="teamTwitter">
    <h4> Twitter Feed</h4>
    
</div>
<div style="clear:both;"></div>

<div class="teamHeadlines">
    <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198); font-family: 'League'; font-size:32px;"> HEADLINES</p>
    
    <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/ViewArticle.dbml?ATCLID=206538479&DB_OEM_ID=3350"><img src="{{STATIC_URL}}img/teamHeadline1.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/ViewArticle.dbml?ATCLID=206538479&DB_OEM_ID=3350"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Lucas: The Sixth Man</h4><p style="color:#104e8b; font-size: 12px;">Leslie McDonald has contributed in multiple ways off the Tar Heel bench.</p> 
    </div>
	<div style="clear:both;"></div>
    </div>
    
    <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=206527360"><img src="{{STATIC_URL}}img/teamHeadline2.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px; float:left;"></a>
	</div>
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/ViewArticle.dbml?ATCLID=206538479&DB_OEM_ID=3350"><h4 style="color:rgb(144, 182, 221); padding-top:15px;">Don't Look Back Now</h4><p style="color:#104e8b; font-size: 12px;">Remember back in early January when it seemed like the sky was falling? Don't look back now.</p></a>
	</div>	 
</div>
    
    <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
   <a href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=206507371"><img src="{{STATIC_URL}}img/teamHeadline3.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
    </div>
	<div class="teamHeadlinesInfo">
    <a href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=206507371"><h4 style="color:rgb(144, 182, 221); padding-top:5px;">Tar Heels in the NBA</h4><p style="color:#104e8b; font-size: 12px;">North Carolina has an all-time high of 17 former Tar Heels playing in the NBA this season, many of whom are playing key roles wiht a variety of teams.</p></a>
    </div>
    </div>

    <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
    <a href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=206504362"><img src="{{STATIC_URL}}img/teamHeadline4.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a> 
    </div>
	<div class="teamHeadlinesInfo">
    <a href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=206504362"><h4 style="color:rgb(144, 182, 221);">Bullock Leads In Win over Wolfpack</h4><p style="color:#104e8b; font-size: 12px;">UNC has been working all season to piece together a full 40 minutes of Carolina basketball.  Perhaps the biggest breakthrough came Saturday.</p></a>
    </div>
    </div>
    
    <div class="teamHeadlinesStory" style="border-bottom:none;">
	<div class="teamHeadlinesPicture">
    <a href="http://www.goheels.com/ViewArticle.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206480962"><img src="{{STATIC_URL}}img/teamHeadline5.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a> 	
    </div>
	<div class="teamHeadlinesInfo">
    <a href="http://www.goheels.com/ViewArticle.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&ATCLID=206480962"><h4 style="color:rgb(144, 182, 221); padding-top:15px;">Lucas: Breaking Down the Matchups</h4><p style="color:#104e8b; font-size: 12px;">Roy Williams has some decisions to make with how he wants to defend the Wolfpack.</p></a>
    </div>
    </div>
    
</div>



<div class="teamMultimedia">
    <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:32px;"> MULTIMEDIA</p>
    
      <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=663350"><img src="{{STATIC_URL}}img/teamMulti1.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=663350"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Photo Gallery:</h4><p style="color:#104e8b; font-size: 12px;">Men's Basketball v N.C. State</p> 
    </div>
      </div>
    
       <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/SportSelect.dbml?SITE=UNC&DB_OEM_ID=3350&SPID=12965&SPSID=668156"><img src="{{STATIC_URL}}img/teamMulti4.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/SportSelect.dbml?SITE=UNC&DB_OEM_ID=3350&SPID=12965&SPSID=668156"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Video:</h4><p style="color:#104e8b; font-size: 12px;">James McAdoo Press Conference </p> 
    </div>
       </div>
    
    
       <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=650548"><img src="{{STATIC_URL}}img/teamMulti3.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=650548"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Photo Gallery:</h4><p style="color:#104e8b; font-size: 12px;">Michael Jordan As A Tar Heel </p> 
    </div>
	</div>
    
    
       <div class="teamHeadlinesStory">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/SportSelect.dbml?SITE=UNC&DB_OEM_ID=3350&SPID=12965&SPSID=668156"><img src="{{STATIC_URL}}img/teamMulti5.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/SportSelect.dbml?SITE=UNC&DB_OEM_ID=3350&SPID=12965&SPSID=668156"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Video:</h4><p style="color:#104e8b; font-size: 12px;">UNC vs. NC State Highlights</p> 
    </div>
	</div>
    
    
       <div class="teamHeadlinesStory" style="border-bottom:none;">
	<div class="teamHeadlinesPicture">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=657848"><img src="{{STATIC_URL}}img/teamMuti2.gif" style="box-shadow: 2px 4px 6px -2px rgb(35, 35, 35); width:225px;height:130px;"></a>
	</div>
	
	<div class="teamHeadlinesInfo">
	<a href="http://www.goheels.com/PhotoAlbum.dbml?SPSID=668156&SPID=12965&DB_LANG=C&SITE=UNC&DB_OEM_ID=3350&PALBID=657848"><h4 style="color:rgb(144, 182, 221); padding-top:25px;">Photo Gallery:</h4><p style="color:#104e8b; font-size: 12px;">Men's Basketball At Georgia Tech</p> 
    </div>
	</div> 
    
</div>
<div style="clear:both;"></div>
 
<div class="Instagram">
 <p style="border-bottom: 1px solid rgb(204, 204, 204); color: rgb(198, 198, 198);font-family: 'League'; font-size:32px;">#CAROLINABASKETBALL INSTAGRAM FEED</p>
<iframe src="http://snapwidget.com/in/?h=Y2Fyb2xpbmFiYXNrZXRiYWxsfGlufDExMHw3fDN8fHllc3w1fGZhZGVPdXQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:875px; height: 375px" ></iframe>
</div>


       
       <div id="footer" class="class_box_shadow">             	
              <img src="{{STATIC_URL}}img/school.gif" style="display:inline-block; margin-left:15px; width:190px; height:70px;">
             
             <ul style="display:inline-block; list-style:none;">
                <li style="font-family: 'League';font-size:18px; color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px; padding-right:40px;">TEAMS</li>
                <a href="#"><li style="font-size:12px;"> Basketball</li></a>
                <a href="#"><li style="font-size:12px;">Football</li></a>
                <a href="#"><li style="font-size:12px;">Baseball</li></a>
                <a href="#"><li style="font-size:12px;"> Cross Country</li></a>
                <a href="#"><li style="font-size:12px;"> Tennis</li></a>
                <a href="#"><li style="font-size:12px;"> Softball</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none;border-top: 1px solid rgb(198, 198, 198); margin-left:0; padding-right:40px; padding-top:2px; "> 
                <a href="#"><li style="font-size:12px; "> Golf</li></a>
                <a href="#"><li style="font-size:12px;">Lacrosse</li></a>
                <a href="#"><li style="font-size:12px;">Track & Field</li></a>
                <a href="#"><li style="font-size:12px;"> Rowing</li></a>
                <a href="#"><li style="font-size:12px;"> Soccer</li></a>
                <a href="#"><li style="font-size:12px;"> Field Hockey</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; border-top: 1px solid rgb(198, 198, 198); margin-left:0; padding-top:2px;  "> 
                <a href="#"><li style="font-size:12px;"> Volleyball</li></a>
                <a href="#"><li style="font-size:12px;">Swim & Dive</li></a>
                <a href="#"><li style="font-size:12px;">Fencing</li></a>
                <a href="#"><li style="font-size:12px;"> Gynmastics</li></a>
                <a href="#"><li style="font-size:12px;"> Cheerleading</li></a> 
                <a href="#"><li style="font-size:12px;"> Other</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; margin-left:30px;">
                <li style="font-family: 'League';font-size:18px; color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px;">INFO</li>
                <a href="#"><li style="font-size:12px;"> Camps</li></a>
                <a href="#"><li style="font-size:12px;">Tickets</li></a>
                <a href="#"><li style="font-size:12px;">Seating Charts</li></a>
                <a href="#"><li style="font-size:12px;"> UNC Online Store</li></a>
                <a href="#"><li style="font-size:12px;"> UNC Photo Store</li></a>
                <a href="#"><li style="font-size:12px;"> Mobile</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; padding-right:22px;">
                <li style="font-family: 'League';font-size:18px;  color:#777; border-bottom: 1px solid rgb(198, 198, 198); margin-bottom: 2px; margin-top:5px;">MEDIA</li>
                <a href="#"><li style="font-size:12px;"> GoHeelsTV</li></a>
                <a href="#"><li style="font-size:12px;">Photo Galleries</li></a>
                <a href="#"><li style="font-size:12px;">News Feeds (RSS)</li></a>
                <a href="#"><li style="font-size:12px;"> Facebook</li></a>
                <a href="#"><li style="font-size:12px;"> Flickr</li></a>
                <a href="#"><li style="font-size:12px;">Twitter</li></a>
             </ul>
             
             <ul style="display:inline-block; list-style:none; margin-left:-5px;">
                <li><a href="#"><img src="{{STATIC_URL}}img/Nike.gif" alt="share" style="height:20px; width 50px; padding-bottom:15px; padding-left:25px; " /></a></li>
                <li><a href="#"><img src="{{STATIC_URL}}img/Share.png" alt="share" style="height:30px; width 50px;" /></a></li>
             </ul> 
             
          <!-- end #FooterLogout --></div>
                
       

{% endblock %}